@import './base.css';

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
  color: black;
  background-color: white;
}
.tabs-container{
  display: flex;
  width: 100%;
}

.tabs-container > * {
  flex-grow: 1;
}
